<h1 class="text-center text-primary">Exchange Project!</h1>
<hr />

<div class="container">
  <div class="row col-sm-12">
    <label class="control-label col-sm-2">
      <select
        #selectedValue1
        (change)="selectedValueCurrency1(selectedValue1.value)"
      >
        <option *ngFor="let rate of ratesObject | keyvalue">
          {{ rate.key }}
        </option>
      </select>
    </label>
    <div class="col-sm-3">
      <input
        #value1
        (change)="getChange1(value1)"
        type="number"
        [formControl]="form1"
        class="form-control"
      />
    </div>
  </div>

  <br />

  <div class="row col-sm-12">
    <label class="control-label col-sm-2">
      <select
        #selectedValue2
        (change)="selectedValueCurrency2(selectedValue2.value)"
      >
        <option *ngFor="let rate of ratesObject | keyvalue">
          {{ rate.key }}
        </option>
      </select>
    </label>
    <div class="col-sm-3">
      <input
        #value2
        (change)="getChange2(value2)"
        type="number"
        class="form-control"
        [formControl]="form2"
      />
    </div>
  </div>

  <button (click)="convert()">Convert</button>
</div>

<app-input-results></app-input-results>
