.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .child {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  button {
    width: 100px;
    height: 30px;
    background-color: rgb(101, 101, 248);
    border-radius: 5px;
    color: rgb(238, 247, 230);
    margin-bottom: 50px;
  }

  .form {
    margin-bottom: 15px;
    margin-top: 15px;
    div {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      label {
        margin-right: 10px;
        text-align: right;
        color: blueviolet;
      }
    }
  }
  p {
    color: green;
  }
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .page {
    background-color: blue;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    cursor: pointer;
  }
}

.users-div {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  .users {
    margin-right: 15px;
    border: 1px solid grey;
    min-width: 350px;
    height: 200px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
